@charset"utf-8";
/*header*/
#header{position: relative;}
#header>.menu{background-color:#0044af;}
#header>.menu>nav.util_menu{width: 1200px;height: 40px;margin: 0 auto;background-color:#0044af;}
#header>.menu>nav.util_menu>.umenu1{width: 380px;height: 40px;float: left;position: relative;}
#header>.menu>nav.util_menu>.umenu1>ul{}
#header>.menu>nav.util_menu>.umenu1>ul>li{float: left;background-color: #00163b;width: 120px;height: 40px;margin-right:5px; }
#header>.menu>nav.util_menu>.umenu1>ul>li:first-child{float: left;background-color:white;width: 120px;height: 40px;}
#header>.menu>nav.util_menu>.umenu1>ul>li:first-child a{color:#6a6a6a;}
#header>.menu>nav.util_menu>.umenu1>ul>li:hover{background-color: #fff;}
#header>.menu>nav.util_menu>.umenu1>ul>li>a:hover{color:#6a6a6a;}
#header>.menu>nav.util_menu>.umenu1>ul>li>a{display: block;font-weight:bold;padding: 0 32px;line-height: 40px;font-size:14px;color:white;text-align: center;}
#header>.menu>nav.util_menu>.umenu2{width: 300px;height: 40px;float: right;}
#header>.menu>nav.util_menu>.umenu2>ul{float: left;}
#header>.menu>nav.util_menu>.umenu2>ul>li{float: left;}
#header>.menu>nav.util_menu>.umenu2>ul>li:nth-child(2){padding-top:3px;}
#header>.menu>nav.util_menu>.umenu2>ul>li>a{float: left;padding:0 0 0 9px ;font-weight:bold;font-size:12px;line-height: 40px;color:white;}

nav.menu{background-color:white;position: relative;}
.menu .menu_w{height: 120px;width: 1200px;margin: 0 auto;position: relative;}
nav.menu .logo{position: absolute;padding-top:20px;margin-left: -25px;}
nav.menu ul{position: absolute;right: 0;}
nav.menu li{float: left;}
nav.menu li:last-child{padding-top:35px;margin-left:30px;}
nav.menu a{display: block;padding: 0 25px;line-height: 120px;font-size:18px;color:#464646;}

/*content*/
#content{background:url(../images/bg.png) no-repeat;background-size:cover;}
#content>.main_wrap{width: 1200px;height: 1800px;margin:0 auto;padding: 100px 0;position: relative;}
#content .text{position: absolute;float: left;}
#content ul.image{width: 451px;float: right;}
#content ul.image>li{float: left;padding:0 0 0 17.5px;}
#content ul.image>li>a{float: left;display: block;color:white;}
#content ul.image>li>a>p{text-align: center;}
.section_wrap{width: 1200px;background-color:pink;margin: 0 auto;position: absolute;top: 350px;}
.section_wrap>ul{}
.section_wrap>ul>li{width: 25%;height: 225px;float: left;}
.section_wrap>ul>li>img{width: 901px;height: 450px;}
.section_wrap>ul>li:nth-child(1){width: 75%;height: 450px;}
.section_wrap>ul>li:nth-child(2){background-image: url(../images/ph02.png);width: 25%;height: 450px;}
.section_wrap>ul>li:nth-child(3){background-image: url(../images/ph03.png);}
.section_wrap>ul>li:nth-child(4){}
.section_wrap>ul>li:nth-child(5){background-image: url(../images/ph04.png);}
.section_wrap>ul>li:nth-child(6){background-image: url(../images/ph005.png);}
.section_wrap>ul>li:nth-child(7){background-image: url(../images/ph06.png);}
.section_wrap>ul>li:nth-child(8){background-image: url(../images/ph07.png);width: 75%;}
.slider_wrapper .prev_btn{position: absolute;top: 180px; left: 845px;}
.slider_wrapper .next_btn{position: absolute;top: 180px;}


.bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
     box-shadow:none; 
     border:0 none; 
     background: #fff; 
}
/*footer*/
#footer_wrap{}
#footer_wrap>.footer1{}
#footer_wrap>.footer1>.footer01{}
#footer_wrap>.footer1>.footer01>ul{}
#footer_wrap>.footer1>.footer01>ul>li{}
#footer_wrap>.footer1>.footer01>ul>li>h5>a{}
#footer_wrap>.footer1>.footer01>ul>li>h5>a{}
#footer_wrap>.footer2{}
address{}
address>p{}