@charset"utf-8";
/*header*/
#header_wrapper{width: 1920px;height: 155px;background-color:green;margin: 0 auto;}
.header_wrap{width: 1920px;height: 90px;background-image: url(../images/head.jpg);background-size:cover;}
.headertop{width: 980px;height: 90px;_background-color:blue;margin: 0 auto;position: relative;}
.headertop>h1{width: 150px;height: 45px;background-image: url(../images/logo.png);text-indent: -9999px;position: absolute;top: 20px;}
.headertop>fieldset{width: 290px;height: 35px;background-color: #fff;border-radius:15px;position: absolute;top: 30px;left:200px;position: absolute;}
.headertop>a{position: absolute;right:20%;top: 25px;color:white}
.sns_wrap{position: absolute;right: 0;top: 30px;}
.sns_wrap>li{float: left;padding: 0 2px;;}
.field{height: 30px;}
.blind{font-size:14px;font-weight:bold;line-height:30px;color:#333d3f;padding: 0 15px;}
.inp-field{border:none;width: 160px;height: 28px;}
.menu_wrap{width: 1920px;height: 65px;background-color:#f9f9f9;border-bottom:5px solid #0e73a7;}
.main_menu{width: 980px;height: 60px;background-color:#f9f9f9;margin: 0 auto;}
.main_menu>ul{}
.main_menu>ul>li{float: left;}
.main_menu>ul>li>a{display: block;}
/*content*/
/*footer*/